{% extends "layout.html" %}
{% block body %}
  <h2>Edit Flight</h2>
  <form action="" method=post>
    <p>
      Flight Number:
      <input type=text name=flight_number value="{{ flight_edit.flight_num }}">
    <p>Airline Name:
    <p><input type=text name=airline_name value="{{ flight_edit.airline_name }}">
    <p>Time:
    <p><input type=number name=time_time value="{{ flight_edit.time_time }}">
    <p>Date:
    <p><input type=number name=date_date value="{{ flight_edit.date_date }}">
    <p>From Destination:
    <p><input type=text name=from_dest value="{{ flight_edit.from_dest }}">
    <p>To Destination:
    <p><input type=text name=to_dest value="{{ flight_edit.to_dest }}">
    <p>Gate:
    <p><input type=text name=gate_num value="{{ flight_edit.gate_num }}">
    <p>
      <input type=submit value="Edit entry">
      <a href="{{ url_for('show_all') }}">Back to list</a>
  </form>
{% endblock %}