{% extends "layout.html" %}
{% block body %}
  <h2>New Flight</h2>
  <form action="" method=post>
    <p>
      Airline:
      <input type=text name=airlineID value="{{ request.form.airlineID }}">
    <p>Aircraft:
    <p><input type=text name=aircraft value="{{ request.form.aircraft }}">
    <p>From Destination:
    <p><input type=number name=fromDestination value="{{ request.form.fromDestination }}">
    <p>To Destination:
    <p><input type=number name=toDestination value="{{ request.form.toDestination }}">
    <p>Departure Date:
    <p><input type=text name=departureDate value="{{ request.form.departureDate }}">
    <p>Departure Time:
    <p><input type=text name=departureTime value="{{ request.form.departureTime }}">
    <p>Arrival Date:
    <p><input type=text name=arrivaldate value="{{ request.form.arrivalDate }}">
    <p>Arrival Time:
    <p><input type=text name=arrivalTime value="{{ request.form.arrivalTime }}">
      <input type=submit value="Create entry"></form>
      <a href="{{ url_for('show_all') }}"><input type=submit value="Back to List"></a>
  
{% endblock %}
