{% extends "layout.html" %}
{% block body %}
  <h2>New Flight</h2>
  <form action="" method=post>
    <p>#
    <p><input type =number name="flight_id">
    <p>Airline:
    <p><input type=number name="airline_id">
    <p>Aircraft:
    <p><input type=number name="aircraft_id">
    <p>From Destination:
    <p><input type=number name="from_destination">
    <p>To Destination:
    <p><input type=number name="to_destination">
    <p>Departure Date:
    <p><input type=date name="departure_date">
    <p>Departure Time:
    <p><input type=datetime name="departure_time">
    <p>Arrival Date:
    <p><input type=date name="arrival_date">
    <p>Arrival Time:
    <p><input type=datetime name="arrival_time">
      <input type=submit value="Create entry"></form>
      <a href="{{ url_for('show_all') }}"><input type=submit value="Back to List"></a>
  
{% endblock %}
