{% extends "layout.html" %}
{% block body %}
{% if flight_ %}
  <h2>Flight {{ flight_.flightID }} </h2>
  <form action="" method=post>
    <table class=flights>
      <tr>
        <th>#
        <th>From Destination
        <th>To Destination
        <th>Departure Date
        <th>Departure Time
        <th>Arrival Date
        <th>Arrival Time
        <th>
        <th>
      {%- for flight in flight_ %}
      <tr class=title>
        <td>{{ flight.flightID }}
        <td>{{ flight.fromDestination }}
        <td>{{ flight.toDestination }}
        <td>{{ flight.departureDate }}
        <td>{{ flight.departureTime }}
        <td>{{ flight.arrivalDate }}
        <td>{{ flight.arrivalTime }}
      {%- endfor %}
    </table>
    <p>
      <input type=submit value="Update">
      <a href="{{ url_for('new') }}">New item</a>
  </form>
{% endif %}
{% endblock %}
