{% extends "layout.html" %}
{% block body %}
  <h2>All Items</h2>
  <p>
  <form action="{{ url_for('update_done') }}" method=post><input type=submit value="Update"></form>
  <form action="{{ url_for('show_flight') }}"><input type="submit" value="Flights"></form>
  <form action="{{ url_for('show_airport') }}"><input type="submit" value="Airports"></form>
  <form action="{{ url_for('show_airline') }}"><input type="submit" value="Airlines"></form>
  <form action="{{ url_for('show_aircraft') }}"><input type="submit" value="Aircrafts"></form>
  <form action="{{ url_for('search_flight', flight_num=flightsearch) }}">
  Search Flight:
  <input type="search" name="flightsearch">
  <input type="submit" value="Search">
  </form>
</p>
    <table class="table_fill">
        <thread>
      <tr>
        <th class="text-left">#</th>
        <th class="text-left">AirlineID</th>
        <th class="text-left">AircraftID</th>
        <th class="text-left">From Destination</th>
        <th class="text-left">To Destination</th>
        <th class="text-left">Departure Date</th>
        <th class="text-left">Departure Time</th>
        <th class="text-left">Arrival Date</th>
        <th class="text-left">Arrival Time</th>
        <th class="text-left"></th>
      </tr>
        </thread>
        <tbody class="table-hover">
      {%- for flight in flights %}
      <tr>
        <td class="text-left">{{ flight.flight_id }}</td>
        <td class="text-left">{{ flight.airline_id }}</td>
        <td class="text-left">{{ flight.aircraft_id }}</td>
        <td class="text-left">{{ flight.from_destination }}</td>
        <td class="text-left">{{ flight.to_destination }}</td>
        <td class="text-left">{{ flight.departure_date }}</td>
        <td class="text-left">{{ flight.departure_time }}</td>
        <td class="text-left">{{ flight.arrival_date }}</td>
        <td class="text-left">{{ flight.arrival_time }}</td>
        <td class="text-left"><a href="{{ url_for('show_flight', flight_id=flight.flight_id) }}"><input type=submit value="View"></a></td>
      {%- endfor %}
      </tr>
        </tbody>
    </table>
    <p>
{% endblock %}
