{% extends "layout.html" %}
{% block body %}
{% if flights %}
  <h1>Flights</h1>
  <form action="{{ url_for('new') }}"><input type="submit" value="Create"></form>

    <table class="table_fill">
        <thread>
      <tr>
        <th class="text-left">#</th>
        <th class="text-left">AirlineID</th>
        <th class="text-left">AircraftID</th>
        <th class="text-left">From Destination</th>
        <th class="text-left">To Destination</th>
        <th class="text-left">Departure Date</th>
        <th class="text-left">Departure Time</th>
        <th class="text-left">Arrival Date</th>
        <th class="text-left">Arrival Time</th>
        <th class="text-left"></th>
      </tr>
        </thread>
        <tbody class="table-hover">
      {%- for flight in flights %}
      <tr>
        <td class="text-left">{{ flight.flight_id }}</td>
        <td class="text-left">{{ flight.airline_id }}</td>
        <td class="text-left">{{ flight.aircraft_id }}</td>
        <td class="text-left">{{ flight.from_destination }}</td>
        <td class="text-left">{{ flight.to_destination }}</td>
        <td class="text-left">{{ flight.departure_date }}</td>
        <td class="text-left">{{ flight.departure_time }}</td>
        <td class="text-left">{{ flight.arrival_date }}</td>
        <td class="text-left">{{ flight.arrival_time }}</td>
        <td><a href="{{ url_for('delete', flight_id=flight.flight_id) }}"><input type=submit value="Delete"></a>
        <td><a href="{{ url_for('edit', flight_id=flight.flight_id) }}"><input type=submit value="Edit"></a>
      {%- endfor %}
      </tr>
      </tbody>
    </table>
    <p>
      <form action="{{ url_for('update_done') }}" method=post><input type=submit value="Update"></form>
            <br>
      <a href="{{ url_for('show_all') }}"><input type=submit value="Back"></a>
  
{% endif %}
{% endblock %}
